{% extends 'base.html.twig' %}

{% block body %}
<h1>Liste des courses du mois de juin</h1>
    <div class="row">
        <div class="col-12">
            <ul>
                <li>
                    <a href="/courses/1">Semaine 1</a>
                </li>
                <li>
                    <a href="/courses/1">Semaine 2</a>
                </li>
                <li>
                    <a href="/courses/1">Semaine 3</a>
                </li>
                <li>
                    <a href="/courses/1">Semaine 4</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}