{% extends 'base.html.twig' %}

{% block body %}
    <div class="row pt-2">
        <div class="col-5 offset-4">
            <div class="text-center mr-5">
                <h1 class="title-style">La casa à Sanka!</h1>
                <h2 class="title-style-green">Toute la Jamaïque à une équipe!</h2>
                <h3 class="title-style-black">Yeah man!</h3>
            </div>
            <figure>
                <img class="home" src="https://media.giphy.com/media/w79179jNdQBFK/giphy.gif">
                <figcaption></figcaption>
            </figure>
        </div>
    </div>
{% endblock %}