{% extends 'base.html.twig' %}

{% block body %}
<div class="row pt-2">
    <div class="col-12">
        <h1>Countries list</h1>

        <table class="table-bordered table-dark table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Flag</th>
                </tr>
            </thead>
            <tbody>
            {% for country in countries %}
                <tr>
                    <td><a href="{{ path('country_show', { 'id': country.id }) }}">{{ country.name }}</a></td>
                    <td><img class="flag" src="{{ country.picture }}"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
