{% extends 'base.html.twig' %}

{% block body %}
    <h1>Country creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('country_index') }}">Back to the list</a>
        </li>
    </ul>

    <div class="row">
        <div class="col-4 mx-auto">
            <figure>
                <img class="adminForm" src="https://media.giphy.com/media/10TnelxprE7AjK/giphy.gif">
            </figure>
        </div>
    </div>

{% endblock %}
